<app-header></app-header>
<div class="root">
    <div class="container">
        <app-main-menu _activeRoute="accounts"></app-main-menu>
        <app-banner _title="Manage accounts" [_statistics]="statistics"></app-banner>
    </div>
</div>
<app-data-table [_headers]="accountDataTable.headers" [_values]="accountDataTable.values" [_actions]="actions"
    (onAction)="onAction($event)" (onChild)="onChild($event)"></app-data-table>
<app-float-button (onClicked)="openAddAccountDialog()"></app-float-button>