.root {
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 44px;
}

.title {
  text-align: center;
  margin: 22px 0;
}

.sub-title {
  text-align: center;
  color: #8a959e;
  margin: 11px 0 44px 0;
}

.title-content {
  font-size: 17px;
  font-weight: 700;
  color: #202531;
}

.sub-title-content {
  font-size: 16px;
  color: #8a959e;
  font-weight: 400;
  margin: 6px 0;
}

.icon-input {
  width: 54px;
  height: 54px;
}

.wrap-button {
  margin-left: -15px;
  margin-top: 11px;
  margin-bottom: 44px;
}

.text-button {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.p-color {
  color: #40b937;
}

.icon-text-button {
  font-size: 18px;
  margin-right: 5px;
}

.full-width {
  width: 100%;
}

input {
  border-width: 2px !important;
  border-radius: 4px !important;
  height: 54px;
}

label {
  color: #8a959e;
}

.ng-valid mat-radio-group {
  color: #8a959e;
}

.mat-radio-button {
  padding-right: 16px;
}

.ng-invalid mat-radio-group {
  color: #f44336;
}

.margin-bottom11 {
  margin-bottom: 11px;
}