<form #f="ngForm" id="ngForm" class="root" (ngSubmit)="onSubmit(data)">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h1 class="title">Set Up Your Email Campaign</h1>
        <h4 class="sub-title">We recommend using subject lines with fewer than 50 characters to make sure contacts
          scanning
          their inbox read the entire subject line</h4>
        <div>
          <p class="title-content">Subject line</p>
          <p class="sub-title-content">This is one of the first things contact will see, so make it count!</p>
          <div class="input-group full-width">
            <span class="input-group-addon icon-input">A</span>
            <input required type="text" class="form-control input" name="nameSubject" [(ngModel)]="data.nameSubject">
          </div>
          <div class="col-md-12 wrap-button">
            <div class="row">
              <div class="col-md-4">
                <a class="text-button p-color"><i aria-hidden="true" class="fa fa-plus-circle icon-text-button"></i>Test
                  another subject
                  line</a>
              </div>
              <div class="col-md-8">
                <a class="text-button p-color"><i aria-hidden="true" class="fa fa-plus-circle icon-text-button"></i>Mailmerge</a>
              </div>
            </div>
          </div>

          <p class="title-content">Who's this message from?</p>
          <p class="sub-title-content">This will help people identify who the message is coming from.</p>
          <div class="input-group full-width margin-bottom11">
            <input required class="form-control" name="nameFrom" placeholder="The from name of the email" [(ngModel)]="data.nameFrom">
          </div>

          <p class="title-content">From Email Address</p>
          <div class="input-group full-width margin-bottom11">
            <input required class="form-control" name="emailFrom" placeholder="Enter an email address here" [(ngModel)]="data.emailFrom">
          </div>

          <p class="title-content">Where should we send replies? (optional)</p>
          <p class="sub-title-content">Enter an email address where replies will be sent to. If you leave this blank,
            replies will be sent to the from email address above.</p>
          <div class="input-group full-width margin-bottom11">
            <input class="form-control" name="emailReplies" placeholder="Optional. An email address for replies to be sent to"
              [(ngModel)]="data.emailReplies">
          </div>
          <mat-checkbox (change)="data.isSend = !data.isSend">Send replies to my inbox</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</form>