<div class="root">
  <label for="searchType" class="title" [hidden]="!title">{{title}}</label>
  <button id="searchType" class="dropdown-button dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="align-left">{{value}}</span>
    <span class="caret primary-color align-right"></span>
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let option of options" (click)="onSelect(option)"><a>{{option}}</a></li>
  </ul>
</div>