<!-- <app-login-page></app-login-page> -->
<nav>
    <a routerLink="/main/accounts/" [className]="activeRoute === 'accounts' ? 'active' : 'deactive'">Accounts</a>
    <a routerLink="/main/users" [className]="activeRoute === 'users' ? 'active' : 'deactive'">Users</a>
    <a routerLink="/main/contacts" [className]="activeRoute === 'contacts' ? 'active' : 'deactive'">Contacts</a>
    <a routerLink="/main/campaigns" [className]="activeRoute === 'campaigns' ? 'active' : 'deactive'">Campaigns</a>
</nav>
<router-outlet></router-outlet>