nav {
  text-align: center;
  height: 70px;
}

nav a {
  padding: 0 11px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  opacity: 0.5;
  font-weight: 700;
  text-transform: uppercase;
  height: 100%;
  line-height: 70px;
}

nav a:hover {
  opacity: 1;
}

.active {
  opacity: 1 !important;
}

.deactive {
  opacity: 0.5;
}