<form #f="ngForm" class="grid-component" (ngSubmit)="onSubmit(data)">
  <div class="form">
    <h1 class="title">Account details</h1>
    <h4 class="sub-title">{{data.options.header}}</h4>
    <div mat-dialog-content>
      <p class="title-content none-margin">Account name *</p>
      <p class="sub-title-content none-margin">Give the account a name that is easily recognisable.</p>
      <mat-form-field class="full-width">
        <input required matInput [(ngModel)]="data.accountName" name="name">
      </mat-form-field>

      <p class="title-content none-margin">Account Owner Email *</p>
      <mat-form-field class="full-width">
        <input required matInput [(ngModel)]="data.ownerEmail" name="email">
      </mat-form-field>

      <p class="title-content none-margin">Country *</p>
      <mat-form-field class="full-width">
        <mat-select required placeholder="Select Country" [(ngModel)]="data.country" name="country">
          <mat-option value="Viet Nam">Viet Nam</mat-option>
          <mat-option value="Philippines">Philippines</mat-option>
          <mat-option value="Malaysia">Malaysia</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="title-content none-margin">Timer Zone *</p>
      <p class="sub-title-content none-margin">Select your local time zone, this will affect your compaign schedules.</p>
      <mat-form-field class="full-width">
        <mat-select required placeholder="Choose Time Zone" [(ngModel)]="data.timezone" name="timezone">
          <mat-option value="5">+5</mat-option>
          <mat-option value="6">+6</mat-option>
          <mat-option value="7">+7</mat-option>
          <mat-option value="8">+8</mat-option>
          <mat-option value="9">+9</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div [hidden]="!isShowPricing">
      <h1 class="title">Set pricing</h1>
      <div mat-dialog-content>
        <p class="title-content none-margin">Currency *</p>
        <mat-form-field class="full-width">
          <mat-select required placeholder="Select Currency" name="currency" [(ngModel)]="data.currency">
            <mat-option value="AUD">AUD</mat-option>
            <mat-option value="USD">USD</mat-option>
            <mat-option value="SGD">SGD</mat-option>
          </mat-select>
        </mat-form-field>

        <p class="title-content none-margin">Monthly subscription fee *</p>
        <mat-form-field class="full-width">
          <!-- <div class="input-group"> -->
          <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span> -->
          <!-- <input required matInput class="form-control" name="month-sub-fee" [(ngModel)]="data.monthlySubscriptionFee"> -->
          <!-- </div> -->
          <input required matInput type="number" name="month-sub-fee" [(ngModel)]="data.monthlySubscriptionFee">
        </mat-form-field>
        <mat-checkbox>First month free</mat-checkbox>

        <p class="title-content none-margin">Statup fee</p>
        <mat-form-field class="full-width">
          <!-- <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
            <input matInput class="form-control" name="startup-fee" [(ngModel)]="data.startupFee">
          </div> -->
          <input matInput type="number" name="startup-fee" [(ngModel)]="data.startupFee">
        </mat-form-field>

        <p class="title-content none-margin">Email inclusion *</p>
        <div class="flex-box">
          <mat-form-field class="full-width">
            <!-- <input required matInput class="form-control" name="email-inc" [(ngModel)]="data.emailInclusion"> -->
            <input required matInput type="number" name="email-inc" [(ngModel)]="data.emailInclusion">
          </mat-form-field>
          <mat-checkbox>Unlimited emails</mat-checkbox>
        </div>

        <p class="title-content none-margin">SMS inclusion *</p>
        <mat-form-field class="full-width">
          <!-- <input required matInput class="form-control" name="sms-inc" [(ngModel)]="data.smsInclusion"> -->
          <input required matInput type="number" name="sms-inc" [(ngModel)]="data.smsInclusion">
        </mat-form-field>

        <p class="title-content none-margin">Contact inclusion *</p>
        <div class="flex-box">
          <mat-form-field class="full-width">
            <!-- <input required matInput class="form-control" name="contact-inc" [(ngModel)]="data.contactInclusion"> -->
            <input required matInput type="number" name="contact-inc" [(ngModel)]="data.contactInclusion">
          </mat-form-field>
          <mat-checkbox>Unlimited contacts</mat-checkbox>
        </div>

        <mat-radio-group required name="pay-by" [(ngModel)]="data.payBy">
          <mat-radio-button value="email/sms">Pay per Email/SMS</mat-radio-button>
          <mat-radio-button value="packs">Pay by packs</mat-radio-button>
        </mat-radio-group>

        <p class="title-content none-margin">Email base price per 1000 emails *</p>
        <mat-form-field class="full-width">
          <!-- <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
            <input required matInput class="form-control" name="email-base" placeholder="The minimum value you can enter is 1"
              [(ngModel)]="data.emailBasePrice">
          </div> -->
          <input required matInput type="number" name="email-base" placeholder="The minimum value you can enter is 0.1"
            [(ngModel)]="data.emailBasePrice">
        </mat-form-field>

        <p class="title-content none-margin">SMS base price for one SMS *</p>
        <mat-form-field class="full-width">
          <!-- <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
            <input required matInput class="form-control" name="email-base" placeholder="The minimum value you can enter is 0.1"
              [(ngModel)]="data.smsBasePrice">
          </div> -->
          <input required matInput type="number" name="sms-base" placeholder="The minimum value you can enter is 1"
            [(ngModel)]="data.smsBasePrice">
        </mat-form-field>

        <p class="title-content none-margin">Contact base price per 1000 contacts *</p>
        <mat-form-field class="full-width">
          <!-- <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
            <input required matInput class="form-control" name="email-base" placeholder="The minimum value you can enter is 0.1"
              [(ngModel)]="data.contactBasePrice">
          </div> -->
          <input required matInput type="number" name="contact-base" placeholder="The minimum value you can enter is 0.1"
            [(ngModel)]="data.contactBasePrice">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="footer">
    <button mat-button class="button btn-cancel" [mat-dialog-close]>Cancel</button>
    <button mat-button type='submit' class="button btn-success">Next</button>
  </div>
</form>