.grid-component {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  display: grid;
  overflow: auto;
  margin-top: -24px;
  margin-left: -24px;
  margin-right: 24px !important;
  position: absolute;
}

.form {
  text-align: left;
  justify-self: center;
  margin-bottom: 58px;
}

.title {
  text-align: center;
  margin: 22px 0;
}

.sub-title {
  text-align: center;
  color: #8a959e;
  margin: 11px 0 44px 0;
}

.title-content {
  font-size: 17px;
  font-weight: 700;
  color: #202531;
}

.sub-title-content {
  font-size: 16px;
  color: #8a959e;
  font-weight: 400;
}

.full-width {
  width: 100%;
}

.none-margin {
  margin: 0;
}

input {
  border-width: 2px !important;
  border-radius: 4px;
}

.footer {
  align-self: end;
  background-color: #202531;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.btn-cancel {
  color: #fff;
  background-color: #000000;
}

.button {
  min-width: 145px !important;
  text-transform: uppercase;
}

.btn-success {
  color: #ffffff;
  background-color: #40b937;
}

.mat-dialog-actions {
  margin-bottom: 0;
}

.flex-box {
  display: flex;
  align-items: center;
}

label {
  color: #8a959e;
}

.ng-valid mat-radio-group {
  color: #8a959e;
}

.mat-radio-button {
  padding-right: 16px;
}

.ng-invalid mat-radio-group {
  color: #f44336;
}
