<form #f="ngForm" (ngSubmit)="onSubmit(data)">
  <div>
    <h1 class="title">Create New User</h1>
    <h4 class="sub-title">Specify the email address of the new user below. We'll send them an invite to activate their
      account.</h4>
    <div mat-dialog-content>
      <div class="inline-block width500">
        <p class="title-content none-margin">Email *</p>
        <mat-form-field class="full-width">
          <input required matInput [(ngModel)]="data.email" name="email">
        </mat-form-field>

        <p class="title-content none-margin">Role *</p>
        <mat-form-field class="full-width">
          <input matInput required [(ngModel)]="data.role" name="role">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="align-right width500">
      <button mat-button type='submit' class="button btn-success">Submit</button>
    </div>
  </div>
</form>