.mat-dialog-container {
  background-color: #f7f7f7;
}

.mat-dialog-content {
  justify-content: center;
  display: flex;
}

.mat-dialog-actions {
  margin-bottom: 0;
  justify-content: center
}

.inline-block {
  display: inline-block;
}

.title {
  text-align: center;
  margin: 22px 0;
}

.sub-title {
  text-align: center;
  color: #8a959e;
  margin: 11px 0 44px 0;
}

.title-content {
  font-size: 17px;
  font-weight: 700;
  color: #202531;
  text-align: left;
}

.sub-title-content {
  font-size: 16px;
  color: #8a959e;
  font-weight: 400;
}

.none-margin {
  margin: 0;
}

.full-width {
  width: 100%;
}

.width500 {
  width: 500px;
}

.align-right {
  text-align: right;
}

.button {
  min-width: 145px !important;
  text-transform: uppercase;
}

.btn-success {
  color: #ffffff;
  background-color: #40b937;
}
