<app-header></app-header>
<div class="root">
  <div class="container">
    <app-main-menu _activeRoute="contacts"></app-main-menu>
    <app-banner _title="Contacts"></app-banner>
    <app-contact-search></app-contact-search>
  </div>
</div>
<app-data-table [_headers]="contactDataTable.headers" [_values]="contactDataTable.values"></app-data-table>
<app-float-button (onClicked)="openAddContactDialog()"></app-float-button>