/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  font-size: 16px;
}

.btn {
  outline: unset !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

.mat-dialog-content {
  overflow: unset !important;
  max-height: unset !important;
}