.contact-search {
  margin-bottom: 44px;
}

.title {
  color: #ffffff;
  font-size: 17px;
}

.sub-title {
  color: #cccccc;
}

.col-lg-6 {
  padding-left:  15px;
  padding-right: 15px;
  height: 54px;
}

.margin-bottom11 {
  margin-bottom: 11px;
}

.segment-button {
  height: 100%;
  background-color: #262c3a;
  color: #ffffff;
  padding: 0 28px;
}

.search-button:focus {
  outline: 0;
}

.search-box {
  margin-top: 33px;
  left: 0;
  right: 0;
  background-color: #262c3a;
  position: absolute;
  padding-top: 44px;
  padding-bottom: 22px;
  z-index: 1000;
}

.search-title {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 44px;
}

.row {
  padding: 0;
}

.margin-top44 {
  margin-top: 44px;
}

.align-center {
  text-align: center;
}

.footer-button {
  height: 64px;
  padding: 0 80px;
  margin: 0 8px;
}

.search-button {
  background-color: #40b937;
  border-color: #40b937;
}

.search-button:hover {
  background-color: #4cc743;
}

.save-segment-button {
  background-color: #202531;
  border-color: #202531;
}

.save-segment-button:hover {
  background-color: #1c202b;
}
