<div class="contact-search">
  <label class="title"><i aria-hidden="true" class="fa fa-sliders"></i> Select a segment</label>
  <p class="sub-title">Segmentation is a powerfull tool to filter and group your customers for targeted campaigns</p>
  <div class="row">
    <div class="col-xs-12 col-lg-6 margin-bottom11">
      <app-drop-down [_options]="segmentOptions" (onChanged)="onSegmentChanged($event)" _value={{segmentOptions[0]}}></app-drop-down>
    </div>
    <div class="col-xs-12 col-lg-6">
      <button class="btn segment-button" (click)="onSearchFormOpen()"><i aria-hidden="true" class="fa fa-search"></i>
        Search Your Contacts
      </button>
    </div>
  </div>
  <div class="search-box" [hidden]="!isShowSearchForm">
    <div class="container">
      <div class="search-title">
        <i aria-hidden="true" class="fa fa-search"></i>
        Search Your Contacts
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(data)">
        <div class="row">
          <app-drop-down-input class="col-xs-12 col-lg-4" [_options]="searchTypeOptions" _value={{searchTypeOptions[0]}}
            _title="search type"></app-drop-down-input>
        </div>
        <div class="row">
          <app-drop-down-input class="col-xs-12 col-lg-4" [_options]="commonConditions" _value={{commonConditions[0]}}
            _title="first name"></app-drop-down-input>
          <app-drop-down-input class="col-xs-12 col-lg-4" [_options]="commonConditions" _value={{commonConditions[0]}}
            _title="surname"></app-drop-down-input>
          <app-drop-down-input class="col-xs-12 col-lg-4" [_options]="commonConditions" _value={{commonConditions[0]}}
            _title="email"></app-drop-down-input>
        </div>
        <div class="row">
          <app-drop-down-input class="col-xs-12 col-lg-4" [_options]="commonConditions" _value={{commonConditions[0]}}
            _title="mobile"></app-drop-down-input>
        </div>
        <div class="row margin-top44">
          <div class="col-lg-12 align-center">
            <button class="btn btn-primary footer-button search-button" type='submit'><i aria-hidden="true" class="fa fa-search"></i>
              SEARCH</button>
            <button class="btn btn-primary footer-button save-segment-button" type='button'><i aria-hidden="true" class="fa fa-sliders"></i>
              Save this segment</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>