<div class="container">
  <div class="row">
    <div class="col-sm-4">{{accountNumber}} MY ACCOUNTS</div>
    <div class="col-sm-4 middle-align logo-wrap">
      <img src="../../../../assets/images/imgpsh_fullsize.jpg" class="logo">
    </div>
    <div class="col-sm-4 right-align account-component" (mouseenter)="mouseAccountEnter()" (mouseleave)="mouseAccountLeave()">
      <div class="account-box">
        <h4>{{username}}</h4>
        <p>Super Administrator</p>
        <!-- <mat-slide-toggle [checked]="is2FA" (change)="on2FAChanged($event)">Two-factor authentication</mat-slide-toggle> -->
      </div>
      <img src="../../../../assets/images/imgpsh_fullsize.jpg" class="userAvatar">
      <div class="menu-anchor">
        <div class="menu" [hidden]="!isShowAccountMenu">
          <div>
            <mat-slide-toggle [checked]="is2FA" (change)="on2FAChanged($event)">Two-factor authentication</mat-slide-toggle>
          </div>
          <div (click)="onSignOutClicked()">
            <i class="glyphicon glyphicon-log-out"></i>
            <a>Log out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>