.container {
  width: 100%;
}

.middle-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.account-component {
  line-height: 80px;
  height: 100%;
  color: #8a959e;
}

.account-box {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

  h4 ~ p {
    line-height: 0px;
  }
}

.logo-wrap {
  height: 80px;
  max-height: 80px;
}

.logo {
  height: auto;
  max-height: 60px;
}

.userAvatar {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.418);
}

.menu-anchor {
  position: relative;
}

.menu {
  top: 0;
  right: 0;
  background-color: #fff;
  position: absolute;
  padding: 15px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: 40px;
}

mat-slide-toggle:hover {
  color: #ca0a23;
}

a {
  text-decoration: none;
  color: #8a959e;
  cursor: pointer;
}

a:hover {
  color: #ca0a23;
}

i {
  margin-right: 5px;
}
