.root {
  width: 100%;
  background-color: #202531;
}

.container {
  overflow-x: auto;
}

.view {
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #e0e0e0;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li {
  border-bottom: 1px solid #e0e0e0;
}

.nav-tabs > li > a {
  font-size: 12px;
  font-weight: 700;
  border: none;
  color: #8a95a8;
  margin-right: 0;
}

.nav-tabs > li > a:hover {
  background-color: transparent;
}

.nav-tabs > li.active > a {
  color: #000000 !important;
  box-shadow: 0px 2px #40b937;
}

table {
  margin-right: auto;
  margin-left: auto;
}

table td {
  min-width: 75px;
  min-height: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

table tr {
  border-bottom: 1px solid #e0e0e0;
}

table span {
  display: block;
}

.flex {
  display: flex;
}

.inline {
  display: inline !important;
}

.p-icon {
  font-size: 44px;
}

.s-icon {
  font-size: 30px;
  margin-right: 10px;
}

.p-info {
  text-align: left !important;
  padding-right: 100px;
}

.margin-bottom7 {
  margin-bottom: 7px;
}

.subject,
.number {
  font-size: 20px;
  font-weight: 500;
  color: #202531 !important;
}

.p-color {
  color: #40b937;
}

.s-color {
  color: #8a959e;
}

.margin-right6 {
  margin-right: 6px;
}

.btn {
  background: #f2f2f2;
  text-transform: uppercase;
  width: 150px;
}

.btn:hover {
  background: #e5e5e5;
}

.grid {
  grid-template-columns: auto auto auto;
  display: grid;
}
