<app-header></app-header>
<div class="root">
    <div class="container">
        <app-main-menu _activeRoute="campaigns"></app-main-menu>
        <app-banner _title="Email & SMS campaigns"></app-banner>
    </div>
</div>

<div class="container">
    <table>
        <thead>
            <tr>
                <td colspan="4"></td>
                <td colspan="4">
                    <ul class="nav nav-tabs">
                        <li [className]="!isView ? 'view active' : 'view'">
                            <a (click)="onViewChanged()">
                                <i aria-hidden="true" class="fa fa-paper-plane-o"></i>
                                Campaign view
                            </a>
                        </li>
                        <li [className]="isView ? 'view active' : 'view'">
                            <a (click)="onViewChanged()">
                                <i aria-hidden="true" class="fa fa-folder-open-o"></i>
                                Folder view
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1">
                    <mat-checkbox (change)="null"></mat-checkbox>
                </td>
                <div class="flex" *ngIf="!isView">
                    <td colspan="1" class="align-center">
                        <i aria-hidden="true" class="glyphicon glyphicon-envelope p-icon"></i>
                        <!-- <i aria-hidden="true" class="lyphicon glyphicon-phone p-icon" *ngIf="campaign.sentBy === 'sms'"></i> -->
                    </td>
                    <td colspan="1" class="p-info">
                        <span class="margin-bottom7 subject">Sprout monthly newsletter</span>
                        <span class="margin-bottom7 s-color"><i aria-hidden="true" class="fa fa-paper-plane-o margin-right6"></i>sent
                            yesterday at 10:37 AM</span>
                        <span class="p-colors"><i aria-hidden="true" class="fa fa-folder-open-o margin-right6"></i>Seasonal
                            Deals for 2018/19</span>
                    </td>
                </div>
                <div class="flex" *ngIf="isView">
                    <td colspan="1" class="align-center">
                        <i aria-hidden="true" class="glyphicon glyphicon-folder-open s-icon"></i>
                    </td>
                    <td colspan="1" class="p-info">
                        <span class="margin-bottom7 subject">Sprout monthly newsletter</span>
                        <div class="grid">
                            <span class="margin-bottom7 s-color inline number"><i aria-hidden="true" class="glyphicon glyphicon-envelope s-icon"></i>8</span>
                            <span class="p-colors inline number"><i aria-hidden="true" class="glyphicon glyphicon-phone s-icon"></i>33</span>
                            <span class="p-colors inline number"><i aria-hidden="true" class="fa fa-gear s-icon"></i></span>
                        </div>
                    </td>
                </div>
                <td colspan="1">
                    <span class="margin-bottom7 number">25647</span>
                    <span>Recipients</span>
                </td>
                <td colspan="4"></td>
                <td colspan="1" *ngIf="!isView">
                    <button class="btn">View</button>
                </td>
                <td colspan="1" *ngIf="isView">
                    <button class="btn">Add a campaign</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <app-data-table [_headers]="accountDataTable.headers" [_values]="accountDataTable.values"></app-data-table> -->
<app-float-button (onClicked)="openAddCampaignDialog()"></app-float-button>