<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" value=""></th>
        <th></th>
        <th class="uppercase" *ngFor="let header of headers">{{header}}</th>
        <th></th>
        <th class="dropdown-wrap" [hidden]="searchFields.length === 0">
          <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <a class=" glyphicon glyphicon-search" data-toggle="dropdown"></a>
            <ul class="dropdown-menu">
              <div class="align-center">
                <h4><b>Searching for</b></h4>
              </div>
              <li *ngFor="let field of searchFields" class="form-group searchForm">
                <label [for]="field">{{field}}</label>
                <input [id]="field" class="input" type="text" ngModel [name]="field">
              </li>
              <button type="submit" class="btn btn-search">Search</button>
            </ul>
          </form>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let row of values">
      <tr>
        <td><input type="checkbox" value=""></td>
        <td>
          <i *ngIf="row.status" class="fa fa-check-square-o status-icon"></i>
          <i *ngIf="!row.status" class="fa fa-minus-square-o status-icon"></i>
          <button *ngIf="row.childCound > 0" class="btn margin-left-10" (click)="onShowChildTrigger(row.id)"><i class="glyphicon glyphicon-chevron-down"></i></button>
        </td>
        <td *ngFor="let cell of row.cells">{{cell}}</td>
        <td class="align-right">
          <button class="btn">view</button>
        </td>
        <td class="dropdown-wrap">
          <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down"></i></button>
          <ul class="dropdown-menu">
            <li *ngFor="let item of actions; let actionIndex = index" (click)="onActionTrigger(actionIndex, row.id)"><a>{{item}}</a></li>
          </ul>
        </td>
      </tr>
      <tr *ngFor="let child of row.childs">
        <td class="align-right"><input type="checkbox" value=""></td>
        <td>
          <i *ngIf="child.status" class="fa fa-check-square-o status-icon"></i>
          <i *ngIf="!child.status" class="fa fa-minus-square-o status-icon"></i>
          <button *ngIf="child.childCound > 0" class="btn margin-left-10 align-right"><i class="glyphicon glyphicon-chevron-down"></i></button>
        </td>
        <td *ngFor="let childCell of child.cells">
          {{childCell}}
        </td>
        <td class="align-right">
          <button class="btn">view</button>
        </td>
        <td class="dropdown-wrap">
          <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down"></i></button>
          <ul class="dropdown-menu">
            <li *ngFor="let item of actions; let actionIndex = index" (click)="onActionTrigger(actionIndex, child.id)"><a>{{item}}</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>