.container {
  padding: 42px 15px;
  margin-bottom: 22px;
}

.status-icon {
  max-height: 20px;
  max-width: 20px;
}

.fa-check-square-o {
  color: blue;
}

.fa-minus-square-o {
  color: red;
}

.btn {
  background: #f2f2f2;
  text-transform: uppercase;
}

.btn:hover {
  background: #e5e5e5;
}

.margin-left-10 {
  margin-left: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.dropdown-wrap {
  position: relative;
}

.btn-search {
  width: 100%;
  margin-bottom: -5px;
  background-color: #71d36a;
  color: #fff;
  border-radius: unset;
}

.btn-search:hover {
  background-color: #4cc743;
}

.dropdown-menu {
  right: 0;
  left: unset;
}

.searchForm {
  display: flex;
  text-align: center;
  margin-bottom: 5px;

  label {
    margin: 5px;
    width: 50px;
    overflow: hidden;
    text-transform: capitalize;
  }
  input {
    margin-right: 5px;
  }
}
