.header {
  background-color: #202531;
  width: 100%;
  position: fixed;
  z-index: 1000;
  margin-top: -24px;
  margin-left: -24px;
  height: 60px;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 4px;
  width: 24px;
  height: 24px;
  color: #8a959e;
}

a {
  text-decoration: none;
}

.switch-text {
  cursor: pointer;
  text-align: right;
}

.active {
  color: #ffffff;
}

.deactive {
  color: #8a959e;
}

.body {
  margin-top: 36px;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 28px;
  height: 100%;
}

.mat-dialog-actions {
  margin-bottom: 0;
  margin-left: -24px;
}

.footer {
  background-color: #202531;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.btn-cancel {
  color: #fff;
  background-color: #000000;
}

.button {
  min-width: 145px !important;
  text-transform: uppercase;
}

.btn-success {
  color: #ffffff;
  background-color: #40b937;
}
