<div class="header">
  <div class="col-sm-6">
    <i aria-hidden="true" class="fa fa-folder-open-o icon"></i>
    <span><strong>Campaign for MGL</strong>: 123</span>
  </div>
  <div class="col-sm-6 switch-text">
    <a *ngFor="let route of routes; let i = index" [className]="routes[redirectRouteIndex] === route ? 'active' : 'deactive'">
      <i *ngIf="i!==0" class="glyphicon glyphicon-arrow-right"></i>
      {{route}}
    </a>
  </div>
</div>

<div class="body">
  <app-add-campaign-step1-form [hidden]="redirectRouteIndex !== 0" (onSubmitted)="onSubmit($event)"></app-add-campaign-step1-form>
  <app-add-campaign-step2-form [hidden]="redirectRouteIndex !== 1" (onSubmitted)="onSubmit($event)"></app-add-campaign-step2-form>
  <app-add-campaign-step3-form [hidden]="redirectRouteIndex !== 2" (onSubmitted)="onSubmit($event)"></app-add-campaign-step3-form>
  <app-add-campaign-step4-form [hidden]="redirectRouteIndex !== 3" (onSubmitted)="onSubmit($event)"></app-add-campaign-step4-form>
  <app-add-campaign-step5-form [hidden]="redirectRouteIndex !== 4" (onSubmitted)="onSubmit($event)"></app-add-campaign-step5-form>
</div>

<div mat-dialog-actions class="footer">
  <button mat-button class="button btn-cancel" [mat-dialog-close]>Cancel</button>
  <button mat-button class="button btn-cancel" (click)="saveAndClose(data)">Save & close</button>
  <button mat-button type='submit' class="button btn-success" form="ngForm">Next</button>
</div>