form {
  position: relative;
  min-height: 100% !important;
}

.body {
  display: flow-root;
  padding-bottom: 80px;
}

.title {
  text-align: center;
  margin: 22px 0;
}

.sub-title {
  text-align: center;
  color: #8a959e;
  margin: 11px 0 44px 0;
}

.title-content {
  font-size: 17px;
  font-weight: 700;
  color: #202531;
  margin-bottom: 6px !important;
}

.sub-title-content {
  font-size: 16px;
  color: #8a959e;
  font-weight: 400;
  margin-bottom: 6px !important;
}

.full-width {
  width: 100%;
}

.none-margin {
  margin: 0;
}

input {
  border-width: 2px !important;
  border-radius: 4px;
}

.radio-group {
  margin-bottom: 22px;
  margin-left: -15px;
  margin-right: -15px;
}

.radio-button {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  height: 130px;
  padding: 28px 0;
  border-radius: 4px;
  border: 2px solid;
}

.radio-button:hover {
  border-color: #40b937;
}

.active {
  border-color: #40b937;
  color: #40b937;
}

.deactive {
  border-color: #d7d7d7;
  color: #d7d7d7;
}

.footer {
  background-color: #f2f2f2;
  justify-content: center;
  margin-left: -24px !important;
  margin-right: -24px !important;
  margin-bottom: -24px !important;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 16px;
}

.button {
  min-width: 145px !important;
  text-transform: uppercase;
  height: 64px;
  padding: 0 80px;
}

.btn-next {
  color: #ffffff;
  background-color: #40b937;
}

.mat-dialog-actions {
  margin-bottom: 0;
}

label {
  color: #8a959e;
}

.ng-valid mat-radio-group {
  color: #8a959e;
}

.mat-radio-button {
  padding-right: 16px;
}

.ng-invalid mat-radio-group {
  color: #f44336;
}

.upper-case {
  text-transform: uppercase;
}
