<form #f="ngForm" (ngSubmit)="onSubmit(data)">
  <div class="body">
    <h1 class="title">Create New Campaign</h1>
    <h4 class="sub-title">Create a new campaign and place it in a campaign folder</h4>
    <div class="col-sm-10 col-sm-offset-1">
      <p class="title-content none-margin">Choose a campaign channel you would like to start with</p>
      <p class="sub-title-content none-margin">You can add channel to this folder later on.</p>
      <div class="radio-group">
        <div class="col-sm-6">
          <label [className]="isEmail ? 'radio-button active' : 'radio-button deactive'" (click)="onTypeActive('email')">
            email
          </label>
        </div>
        <div class="col-sm-6">
          <label [className]="isSms ? 'radio-button active' : 'radio-button deactive'" (click)="onTypeActive('sms')">
            sms
          </label>
        </div>
      </div>

      <p class="title-content none-margin">Save it to your campaign folder</p>
      <p class="sub-title-content none-margin">Campaign folders store multiple campaigns that share a common theme and
        performance indicators.</p>
      <mat-radio-group required name="folder" [(ngModel)]="data.folder" (change)="data.name=''">
        <mat-radio-button class="upper-case" value="create">Create a new campaign folder</mat-radio-button>
        <mat-radio-button class="upper-case" value="add">Add to existing folder</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="full-width" *ngIf="data.folder==='create'">
        <input required matInput [(ngModel)]="data.name" name="name">
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="data.folder==='add'">
        <mat-select required placeholder="Please select an existing folder" name="name" [(ngModel)]="data.name">
          <mat-option *ngFor="let folder of folders" value={{folder}}>{{folder}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="footer">
    <button mat-button type='submit' class="button btn-next">Lets go</button>
  </div>
</form>