.form {
  display: flex;
  height: 100%;
}

.left {
  width: 75%;
  height: 100%;
  overflow: auto;
  background-color: #f7f7f7;
}

.right {
  width: 25%;
  float: right;
  border-left: 2px solid #e0e0e0;
  padding: 15px;
  text-align: center;
  color: #8a959e;
  overflow: auto;
  padding-bottom: 44px;
}

.centered {
  text-align: center;
  width: 100%;
  height: 100%;
}

.row {
  margin-bottom: 15px;
}

.example-box {
  height: 100px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8a959e;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.drag-icon {
  color: #f7f8f9;
  font-size: 23px;
  font-style: unset;
}

.template {
  width: 50%;
  height: auto;
  min-height: 100%;
  display: inline-block;
  background-color: #fff;
  margin: 50px 0;
  border-radius: 5px;
  text-align: left;
  padding: 0 30px;
}

.full-width {
  width: 100%;
}

.button {
  min-width: 145px !important;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #40b937;
}
