<form #f="ngForm" id="ngForm" class="form" (ngSubmit)="onSubmit(data)">
  <div class="container left">
    <div class="centered">
      <div cdkDropList #template #dropArea="cdkDropList" class="template" (cdkDropListDropped)="drop($event)"></div>
    </div>
  </div>

  <div class="container right">
    <div class="row">
      <div class="col-md-4">
        <div cdkDropList [cdkDropListConnectedTo]="[dropArea]" id="text">
          <div cdkDrag class="example-box">
            <i class="glyphicon glyphicon-align-justify drag-icon"></i>
          </div>
          <span>Text</span>
        </div>
      </div>
      <div class="col-md-4">
        <div cdkDropList [cdkDropListConnectedTo]="[dropArea]" id="image">
          <div cdkDrag class="example-box">
            <i class="glyphicon glyphicon-picture drag-icon"></i>
          </div>
          <span>Image</span>
        </div>
      </div>
      <div class="col-md-4">
        <div cdkDropList [cdkDropListConnectedTo]="[dropArea]" id="heading">
          <div cdkDrag class="example-box">
            <i class="drag-icon">T</i>
          </div>
          <span>Heading</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div cdkDropList [cdkDropListConnectedTo]="[dropArea]" id="button">
          <div cdkDrag class="example-box">
            <i class="glyphicon glyphicon-align-justify drag-icon"></i>
          </div>
          <span>Button</span>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div cdkDropList [cdkDropListConnectedTo]="[dropArea]" id="textAndImage">
          <div cdkDrag class="example-box">
            <i class="glyphicon glyphicon-picture drag-icon"></i>
          </div>
          <span>Text & Image</span>
        </div>
      </div>
      <div class="col-md-4">
        <div cdkDropList [cdkDropListConnectedTo]="[dropArea]" id="Head">
          <div cdkDrag class="example-box">
            <i class="drag-icon">T</i>
          </div>
          <span>Heading</span>
        </div>
      </div> -->
    </div>
  </div>
</form>