.row {
  text-align: center;
}

.title-wrap {
  margin: 22px 0 44px;
}

.title {
  color: #ffffff;
  line-height: 0px;
}

.margin-botton-22 {
    margin-bottom: 22px;
}

.item {
    margin-left: 44px;
    margin-right: 44px;
    display: inline-block;

  span {
    color: #ffffff;
    font-size: 24px;
  }
  p {
    text-transform: uppercase;
    font-weight: 700;
    color: #cccccc;
  }
}
