<div class="row">
  <div class="title-wrap">
    <h1 class="title">{{title}}</h1>
  </div>
  <div class="item margin-botton-22" *ngFor="let statistic of statistics">
    <span>{{statistic.value}}</span>
    <p>{{statistic.header}}</p>
  </div>
</div>