<app-header></app-header>
<div class="container">
  <app-main-menu _activeRoute="users"></app-main-menu>
  <app-banner _title="Users"></app-banner>
</div>
<app-data-table [_headers]="userDataTable.headers" [_values]="userDataTable.values" [_searchFields]="searchFields" (onSearch)="onSearch($event)"></app-data-table>
<app-float-button (onClicked)="openAddUserDialog()"></app-float-button>