.root {
  height: 100%;
  display: grid;
  justify-content: center; //align horizontal
  // align-items: center; //align vertical
}

.width400 {
  width: 400px;
}

.wrap-top {
  text-align: center;
  align-self: center;
  // margin-top: 200px
}

.wrap-middle {
  // margin-top: 20px;
}

.wrap-bottom {
  text-align: center;
  align-self: flex-end;
}

:host ::ng-deep .input {
  padding: 0 12px;
  width: 100%;
  height: 64px;
  border: solid 2px #e0e0e0;
  border-radius: 4px;
  float: left;
}

.text {
  display: block;
  margin-top: 22px;
  text-align: right;
}

.underline-text {
  text-decoration: underline !important;
}

.inline-flex {
  display: inline-flex;
}

.margin-left-10 {
  margin-left: 10px;
}

.btn-signin {
  text-transform: uppercase;
  width: 100%;
  height: 64px;
  padding: 0 80px;
  margin: 0;
}