<div class="root">
    <div class="wrap-top width400">
        <img ng-src="http://i.imgur.com/vkW3Lhe.jpg">
        <h1><b>sprout</b></h1>
        <h1><b>Ready to sign in?</b></h1>
    </div>
    <div class="wrap-middle width400">
        <form id="signin" (ngSubmit)="onSigninSubmit($event)">
            <app-input-text _placeholder="EMAIL" _required=true (onChanged)="onEmailChanged($event)"></app-input-text>
            <app-input-text _placeholder="PASSWORD" _required=false (onChanged)="onPasswordChanged($event)"></app-input-text>
        </form>
        <button class="btn btn-primary btn-signin" type="submit" form="signin" (mouseenter)="hoverIn()" (mouseleave)="hoverOut()"
            [ngSwitch]="isHover">
            <span *ngSwitchCase="false">sign in</span>
            <span *ngSwitchCase="true">lets go!</span>
        </button>
        <app-linked-text class="text" _content="Forgot password?" _link={{forgotPwLink}}>
        </app-linked-text>
    </div>
    <div class="wrap-bottom width400">
        <app-linked-text class="underline-text" _content="https://support.contacta.io" _link="https://support.contacta.io"
            _color="red" _target="blank"></app-linked-text>
        <div class="inline-flex">
            <p><span class="glyphicon glyphicon-earphone"></span> 03 9999 2585</p>
            <p><span class="glyphicon glyphicon-envelope margin-left-10"></span> support.contacta.io</p>
        </div>
    </div>
</div>