<div class="root">
  <h1 class="title">Authentication Account</h1>
  <h4 class="sub-title">Scan QR Code below into Google Authenticator.</h4>
  <img [src]="data.qrCode">
</div>

<div mat-dialog-actions>
  <div class="width500">
    <button mat-button type='submit' class="button btn-success" mat-dialog-close="ok">TURN ON</button>
  </div>
</div>