.mat-dialog-container {
  background-color: #f7f7f7;
}

.mat-dialog-content {
  justify-content: center;
  display: flex;
}

.mat-dialog-actions {
  margin-bottom: 0;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 22px 0;
}

.sub-title {
  text-align: center;
  color: #8a959e;
  margin: 11px 0 44px 0;
}

.root {
  max-width: 500px;
  text-align: center;
}

.max-width500 {
  max-width: 500px;
}

.button {
  min-width: 145px !important;
  text-transform: uppercase;
}

.btn-success {
  color: #ffffff;
  background-color: #40b937;
}
