.root {
    padding: 0px;
    width: 100%;
    position: relative;
    margin-bottom: 11px;
}

.title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #cccccc;
}

.dropdown-button {
    background-color: transparent;
    color: #ffffff;
    width: 100%;
    height: 52px;
    border: 2px solid #3e485f;
    border-radius: 4px;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.dropdown-menu {
    left: 0;
    right: 0;
    top: unset;
}

.dropdown-menu:hover {
    cursor: pointer;
}

ul li a:hover {
    background-color: #71d36a;
    color: #ffffff;
}

.primary-color {
    color: #71d36a;
}

.searchForm {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    label {
        margin: 5px;
        overflow: hidden;
        text-transform: capitalize;
        width: 100%;
        text-align: left !important;
    }
    input {
        margin-right: 5px;
    }
}