<form #f="ngForm" class="grid-component" (ngSubmit)="onSubmit(f, data)">
  <div class="form">
    <h1 class="title">Create a new contact</h1>
    <h4 class="sub-title">Complete the form below to add a new contact to your list.</h4>
    <div mat-dialog-content>
      <p class="title-content none-margin">First Name</p>
      <mat-form-field class="full-width">
        <input required matInput [(ngModel)]="data.firstName" name="firstName">
      </mat-form-field>

      <p class="title-content none-margin">Surname</p>
      <mat-form-field class="full-width">
        <input required matInput [(ngModel)]="data.surname" name="surname">
      </mat-form-field>

      <p class="title-content none-margin">Email</p>
      <mat-form-field class="full-width">
        <input [required]="data.mobile === ''" matInput [(ngModel)]="data.email" name="email">
      </mat-form-field>

      <p class="title-content none-margin">Mobile</p>
      <mat-form-field class="full-width">
        <input [required]="data.email === ''" matInput [(ngModel)]="data.mobile" name="mobile">
      </mat-form-field>

      <p class="title-content none-margin">Date of Birth</p>
      <mat-form-field class="full-width">
        <input required matInput [(ngModel)]="data.dateOfBirth" name="dateOfBirth">
      </mat-form-field>

      <p class="title-content none-margin">Gender</p>
      <mat-form-field class="full-width">
        <mat-select required placeholder="Choose option" [(ngModel)]="data.gender" name="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Others">Others</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="title-content none-margin">Hobbies</p>
      <mat-form-field class="full-width">
        <mat-select required placeholder="Choose option" [(ngModel)]="data.hobbies" name="hobbies">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Others">Others</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="title-content none-margin">Date</p>
      <mat-form-field class="full-width">
        <input required matInput [(ngModel)]="data.date" name="date">
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="footer">
    <button mat-button class="button btn-cancel" [mat-dialog-close]>Cancel</button>
    <button mat-button type='submit' class="button btn-success">Next</button>
  </div>
</form>